<form [formGroup]="mealForm" novalidate (ngSubmit)="onSubmit()" class="meal-card">
    <h2>Add a new meal</h2>
    <label>
      Meal :
      <input type="text" formControlName="meal" required="true">
    </label>
    <label>
      Quick Description :
      <textarea formControlName="description" required="true"></textarea>
    </label>
    <label>
      Image Url :
      <input type="text" formControlName="imageUrl" required="true">
    </label>
    <button type="submit">Submit</button>
</form>