<div class="form-card">
    <span class="form-title">Reset your password</span>

    <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword()" class="form-column" >
        <!-- New Password -->
        <input class="form-control form-field" type="password" ngDefaultControl formControlName="password" required placeholder="Password" minlength="5">
        <input class="form-control form-field" type="password" ngDefaultControl formControlName="confirmPassword" required placeholder="Confirm Password" minlength="5">
        <!-- Button -->
        <button type="submit" class="submit">Reset Password</button>
    </form>
</div>