<header>

    <div class="left-side">
        <a routerLink="meals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">MealUp</a>
    </div>

    <div class="right-side">
        <!-- Login-->
        <!-- #TODO: Write a condition to check if the login button should be displayed-->
        <button
            class="header-button"
            *ngIf="!authService.getToken()"
            mat-raised-button
            routerLinkActive="active"
            routerLink="/login">
            Login
        </button>

        <!-- Signup -->
        <!-- #TODO: Write a condition to check if the signup button should be displayed-->
        <button
            class="header-button"
            *ngIf="!authService.getToken()"
            mat-raised-button
            routerLinkActive="accent"
            routerLink="/sign-up"
            color="accent">
            Sign-up
        </button>

        <!-- Reset Password-->
        <button
            class="header-button"
            *ngIf="authService.getToken()"
            mat-raised-button 
            color="accent"
            routerLinkActive="active"
            routerLink="/reset-password">
            Reset password
        </button>

        <!-- Log out -->
        <button
            class="header-button"
            *ngIf="authService.getToken()"
            mat-raised-button 
            color="accent"
            (click)="authService.logOut()"
            routerLinkActive="active">
            Log out
        </button>
    </div>
</header>