<h1 class="class-header">Sign-up</h1>
    <div class="class-body">
        <form [formGroup]="signUpForm"
              autocomplete="off"
              novalidate
              (ngSubmit)="signUp()">
            
              <!-- Email address -->
            <input
                class="form-control"
                type="text"
                ngDefaultControl
                formControlName="email"
                required
                placeholder="Email Address"
                minlength="5">

            <!-- Password -->
                <input
                class="form-control"
                type="password"
                ngDefaultControl
                formControlName="password"
                required
                placeholder="Password"
                minlength="5">

                <input
                class="form-control"
                type="password"
                ngDefaultControl
                formControlName="confirmPassword"
                required
                placeholder="Confirm Password"
                minlength="5">

            <!-- Button -->
            <button
                color="warn"
                type="submit"
            >
            Sign-up
            </button>
        </form>
    </div>