.meal-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    border : lightgray 1px solid;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: justify;
}

img {
    width: 100%;
    max-width: 300px;
}

h2 {
    margin-bottom: 15px;
    text-decoration: underline;
}

p {
    font-weight: 300;
    font-size: 16px;
    color: #111010;
}

.vouch-button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    margin-right: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
}

.vouched {
    border: solid 1px;
    border-color: green;
}

.flex-meal-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-form{
    align-items: flex-end;
}

.right-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
}

.edit-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

textarea{
    resize: none;
    border-style: none;
    border-bottom: 1px solid black;
    width: 90%;
    height: 75px;
    font-size: 16px;
    margin-top: 20px;
}

::placeholder{
    opacity: 1;
}
