<div class="meal-card" [class]="{ vouched:  buttonText === '✖️' }">
    <h2>{{ meal.title | uppercase }}</h2>
    <img [src]="meal.imageUrl" [alt]="meal.title">
    <form [formGroup]="mealForm" novalidate class="flex-meal-card flex-form">
        <textarea formControlName="description" required="true" placeholder="{{ meal.text }}"></textarea>
        <button (click)="editMeal(meal)" [class]="{ hidden: !this.isOwner, 'edit-button': true }">Edit</button>
    </form>
    <div class="flex-meal-card">
        <p>
            <button (click)="addVouch(meal)" class="vouch-button">{{ buttonText }}</button>
            <span> {{ meal.vouch }}</span>
        </p>
        <div class="right-side">
            <button (click)="deleteMeal(meal)" [class]="{ hidden: !this.isOwner, 'right-button': true }">Delete</button>
        </div>
    </div>
</div>